@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500&display=swap');

* { /*contando padding como tamanho do elemento*/
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Anek Malayalam', sans-serif;
    /*background: slategray;*/
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

header{
    color: bisque;
    height: calc(100vh - 150px); /*definindo tamanho do header*/
    background: rgb(7, 7, 7);
}

header nav{ /*todo conteúdo da nav na mesma linha*/
    display: flex;
    justify-content: space-between;
    margin: auto 30px;
}

header nav ul{ /*conteúdo da ul uma do lado da outra*/
    list-style: none;
    display: flex;
}

header nav ul li{ /*separando cada item*/
    margin: 0 15px;
}

.header-content{ /*posicionando o conteúdo da classe da div*/
    max-width: 400px;
    margin: 150px auto;
    text-align: center; /*alinhando texto*/
}

.header-content h1{ /*diminuindo a margem do h1*/
    margin-bottom: 10px;
    font-size: 3rem;
}

.artigos{
    background: rgb(32, 31, 32);
    /*height: 500px; tamanho sessão pacote*/
    padding: 15px;
}

.artigos .artigos-title{
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.artigos .artigos-cards{
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: center;
}

.artigos .card{ /*definindo tamanho da div*/
    width: 700px;
    /*height: 300px;*/
    border-radius: 20px 0 ;
    margin: 25px 25px;
    background: bisque;
    /*display: flex;*/
    align-items: stretch;
}

.artigos .card-image{ /*definindo tamanho da imagem e adicionando borda*/
    width: 350px;
    height: 200px;
    border-radius: 20px 0 0 0; /*definindo a borda do tamanho da borda da div*/
    object-fit: cover;
}

.artigos .card .infos{
    display: flex;
    max-width: 700px;
}

.artigos .card .card-content{
    max-width: 350px;
    display: flex;
    margin: auto;
}

.artigos .card .card-content a p{ /*centralizando conteúdo da div*/
    margin: auto;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.artigos .card .descricao{
    margin: 10px;
    /*max-width: 500px;
    max-height: 300px;*/
    display: flex;
}

.artigos .card .descricao p{
    /*text-align: center;*/
    margin: auto;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: rgb(59, 57, 59);
}

.artigos .card-content ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 3px;
}

.artigos .card-content ul li{
    /*color:gray;*/
    font-size: 1rem;
    margin: 3px 0;
    width: 300px;
    /*font-weight: bold;*/
}

.artigos .card-content ul a{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
    color: rgb(77, 74, 77);
}

.artigos .card-content ul a:hover, .active{
	color: rgb(77, 74, 77);
    font-weight: bold;
    text-decoration: underline;
}

/*RESPONSIVIDADE*/
@media (max-width: 780px){
    header{
        font-size: 22px;
    }

    .artigos .artigos-cards .card {
        display: flow-root;
        width: 550px;
        font-size: 18px;
    }

    .artigos .artigos-cards .infos{
        display: flex;
        margin: inherit;
    }

    .artigos .card-image{
        max-width: 250px;
        max-height: 150px;
        border-radius: 20px 0 0 0; 
        object-fit: cover;
        margin: 0;
    }
    
    .artigos .card-content ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 10px;
        margin: 5px;
    }

    .artigos .card .card-content ul li{
        max-width: 250px;
        display: flex;
        margin: auto;
    }
    
    .artigos .card .card-content a p{ /*centralizando conteúdo da div*/
        margin: auto;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
    }

    .artigos .artigos-cards .descricao{
        margin: inherit;
    }

}

@media (max-width: 580px){

    header nav ul{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;

        z-index: 99;

        background: grey;
        font: bold;
        height: 55px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav p {
        width: 100%;
        text-align: center;
    }

    .header-content{
        font-size: 18px;
        padding: 10px;
    }

    .sugestao p{
        padding: 10px;
        font-size: 18px;
    }

    .artigos .artigos-cards .card {
        display: flow-root;
        width: 400px;
        font-size: 20px;
    }

    .artigos .artigos-cards .infos{
        display: block;
        margin: inherit;
    }

    .artigos .card-image{
        max-width: 550px;
        max-height: 200px;
        border-radius: 20px 0 0 0; 
        object-fit: cover;
        margin: 0;
    }

    .artigos .card .card-content{
        max-width: 550px;
    }

    .artigos .card .card-content ul{
        padding: 0;
        width: 500px;
        margin: 0;
    }

    .artigos .card .card-content ul li{
        max-width: 500px;
        font-size: 20px;
        text-align: center;
        padding: 20px 0 0 0;
    }

    .artigos .card .descricao p{
        font-size: 18px;
    }

}